<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LangFromTextWinApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <LangFromTextWinApp.Properties.Settings>
            <setting name="DataConnString" serializeAs="String">
                <value />
            </setting>
            <setting name="ActivateLTModuleIntervalMinutes" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CurrentTheme" serializeAs="String">
                <value>LightBlue</value>
            </setting>
            <setting name="WinSizeWidth" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="WinPosLeft" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="WinSizeHeight" serializeAs="String">
                <value>768</value>
            </setting>
            <setting name="WinPosTop" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="AppLanguage" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="URLTemplateOpenTranslator" serializeAs="String">
                <value>https://translate.google.com/?sl=auto&amp;tl=en&amp;text=[WORD]</value>
            </setting>
            <setting name="TranslateWordModuleLevel" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="SelectWordModuleLevel" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="SelectPhraseModuleLevel" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="EnterCharModuleLevel" serializeAs="String">
                <value>2</value>
            </setting>
        </LangFromTextWinApp.Properties.Settings>
    </userSettings>
</configuration>